[submodule "src/src/cone_detection"]
	path = src/src/cone_detection
	url = https://github.com/wonsukHeo1025/cone_detection.git
	branch = main
[submodule "src/src/cone_projection"]
	path = src/src/cone_projection
	url = https://github.com/wonsukHeo1025/cone_projection.git
	branch = main
[submodule "src/src/ouster_ros"]
	path = src/src/ouster_ros
	url = https://github.com/wonsukHeo1025/ouster-ros.git
	branch = main
[submodule "src/src/ros_camera_lidar_fusion"]
	path = src/src/ros_camera_lidar_fusion
	url = https://github.com/wonsukHeo1025/ros2_camera_lidar_fusion.git
	branch = main
[submodule "src/src/yolo_ros"]
	path = src/src/yolo_ros
	url = https://github.com/wonsukHeo1025/yolo_ros.git
	branch = main
[submodule "src/src/usb_cam"]
	path = src/src/usb_cam
	url = https://github.com/wonsukHeo1025/usb_cam.git
	branch = main
